
table, th, td {
    border: 1px solid black;
}
#mainContainer{
    background-color: #c9d6ee;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    
}
#containerTitle{
    
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    flex-wrap: wrap;
    display: inline-block;
    white-space: initial;
    display: flex;
    flex-direction: row;
}
.searchCard{
    overflow: hidden;
    width: 200px;
    height: 250px;
    contain: strict;
    display: inline-block;
}
.element{
    overflow: hidden;
    width: 200px;
    height: 200px;
    contain: strict;
    display: inline-block;
}
#infosTitle{
    border: 2px solid black;
    padding: 2%;
    margin-bottom: 2%;
}
#generalInfos{
    display: flex;
    flex-direction: row;
}
#pochetteAlbum{
    margin-left: 2%;
    margin-right: 2%;
}
#abstract{
    text-align: justify;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 60px;
  color: black;
}

.carousel-control-prev-icon:after {
      content: '<';
      font-size: 60px;
      color: black;
}


.carousel-inner{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
#carouselSimilarTitle{
    padding-bottom: 4%;
}
#indicatorsCarousel{
    bottom: -10%;
}
#indicatorsCarousel button{
    background-color: black;
}
.similarTitle{
    width: 32%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0.5%;
    padding: 5px;
    color: black !important;
    background-color: transparent !important;
}


.row{
    width: 100%;
    margin: auto;
}
.eltCarousel{
    width: 80%;
}

#spinner{
    display: none;
    margin: auto;
}