table {
    border: 1px solid black;
    border-spacing: 15px;
    
}
table, th, td {
    padding: 15px;
  }
header{
    margin-top: 2%;
    margin-bottom: 4%;
}
#body{
    background-color: #c9d6ee;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.element{
    overflow: hidden;
    width: 400px;
    /*height: 100px*/;
    contain: content;
    display: display-inside;
    margin-top: 2%;
    margin-bottom: 4%;
    vertical-align: top;
}

.details{
    text-align: justify;
    max-height: 300px;
    overflow-y: scroll;
    padding-right: 2%;
}

.identifier{
    vertical-align: top;
}

#btnSearch {
    line-height: 32px;
    width: 128px;
    font-size: 12pt;
    font-family: 'Text me one';
    margin-top: 1px;
    margin-right: 4px;
    position:absolute;
    top: 1%;
    right:4.5%;
    font-weight : bold;
    border:3px solid black;


}