.btn
{
    position: absolute;
    width: 10%;
    height: 30px;
    font-size:14px;
    margin-top: 2px;
    background-color: pink;
}



#btnSearch {
    line-height: 12px;
    width: 78px;
    font-size: 11pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 4px;
    position:absolute;
    top:0;
    right:0;
}


#searchbar{
    position: center;
    width: 33%;
    height: 10px;
    margin-left: 33%;
    padding:15px;
    border-radius: 10px;
}

.address{
    color: white;
    margin-left: 80%;
    padding:0;
    position:absolute;
    bottom:5px;
    text-align: center;
}

body {
    background-image:url(../img/music7.png);
    background-repeat: no-repeat;
}

.sousTitre{
    color: #a1cefc;
}