
table, th, td {
    border: 1px solid black;
}
/* Header */
header{
    margin-top: 2%;
    margin-bottom: 4%;
}
/* Body */
#mainContainer{
    background-color: #c9d6ee;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
#containerTitle{
    
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    flex-wrap: wrap;
    display: inline-block;
    white-space: initial;
    display: flex;
    flex-direction: row;
}
.searchCard{
    overflow: hidden;
    width: 200px;
    height: 250px;
    contain: strict;
    display: inline-block;
}
.element{
    overflow: hidden;
    width: 200px;
    height: 200px;
    contain: strict;
    display: inline-block;
}
/* Informations on the title */
#infosTitle{
    border: 2px solid black;
    padding: 2%;
    margin-bottom: 2%;
}
#generalInfos{
    display: flex;
    flex-direction: row;
}
#cover{
    margin-left: 2%;
    margin-right: 2%;
}
#divAbstract{
    padding: 2% 4% 0 4%;
}

#description{
    text-align: justify;
    max-height: 200px;
    overflow-y: scroll;
    padding-right: 2%;
}

/* Similar title in a carousel*/
#suggestions{
    margin-bottom: 5%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  background-image: none;
}
.fa-chevron-left:before,
.fa-chevron-right:before {
    font-size: 40px;
    color: black;
}
.carousel-inner{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
#carouselSimilarTitle{
    padding-bottom: 4%;
}
#indicatorsCarousel{
    bottom: -10%;
}
#indicatorsCarousel button{
    background-color: black;
}
.similarTitle{
    width: 32%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0.5%;
    padding: 5px;
    color: black !important;
    background-color: transparent !important;
}
.row{
    width: 100%;
    margin: auto;
}
.eltCarousel{
    width: 80%;
}
#spinner{
    display: none;
    margin: auto;
}

/* Footer */
footer{
    text-align: right;
    margin-bottom: 2%;
}